/* Removed formatting */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;
}

/* Styling */
h1 {
  font-size: 11.5rem;
}

p,
q {
  font-size: 3.2rem;
}

header > *,
main > * {
  border: 1px solid hotpink;
  margin: 3px;
  text-align: center;
}
/* Layout */

main {
  display: flex;
  flex-flow: row wrap;
}

.unit {
  flex: 1 250px;
}
