/* Removed formatting */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14pt;
  font-weight: normal;
}

/* Styling */
header > *,
main > * {
  border: 1px solid hotpink;
  margin: 3px;
  text-align: center;
}
/* Layout */

main {
  display: flex;
  flex-wrap: wrap;
}

.unit {
  flex: 250px;
}
