/* Removed formatting */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;

  /* Font insert */
  font-family: "Montserrat", sans-serif;
}

/* Styling */
h1 {
  font-size: 10rem;
}

p,
q {
  font-size: 2.2rem;
  font-weight: 100;
  font-style: italic;
}

h2,
.counter {
  font-size: 6rem;
  color: whitesmoke;
  height: 190px;
}

.unit {
  background-color: #3672ff;
}

header > *,
main > * {
  text-align: center;
  margin: 0 4vw 90px 4vw;
}

/* TODO: It is questionable whether the margin should be in subelements or not */

/* Layout */

main {
  display: flex;
  flex-flow: row wrap;
}

.unit {
  flex: 1 230px;
}

/* Incomplete */
@media screen and (max-width: 425px) {
  div {
    background-color: olivedrab;
  }
}
