/* ==== CLEARFIX ==== */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header > *,
main {
  text-align: center;
  margin: 0 3vw 50px 3vw;
}

button {
  font-size: inherit;
}
.number {
  text-align: center;
  height: 70%;
}

.task {
  text-align: center;
  height: 30%;
}

.descriptive > p:nth-child(1) {
  text-align: center;
}

.descriptive {
  text-align: left;
  margin-bottom: 3vw;
}

.descriptive * {
  padding: 15px;
}

li {
  list-style-position: inside;
}

/* === === GRID === */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 2%;

  margin-bottom: 3vw;
}
