/* === === CENTERING === === */

header > *,
main {
  text-align: center;
  margin: 0 3vw 50px 3vw;
}

.box {
  height: 250px;
}

.number {
  text-align: center;
  height: 70%;
}

.task {
  text-align: center;
  height: 30%;
}
/* === === FLEX === === */

/* === === GRID === */
.grid-container {
  display: grid;
  grid-template-columns: 275px 275px;
}
