/* ==== RESPONSIVE DESIGN */

/* LAPTOP */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2,
  p,
  em,
  b {
    font-size: 2rem;
  }
}

/* TABLET */
@media screen and (min-width: 425px) and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2,
  p,
  em,
  b {
    font-size: 1.8rem;
  }
}

/* MOBILE - L */
@media screen and (min-width: 376px) and (max-width: 425px) {
  h1 {
    font-size: 3rem;
  }

  h2,
  p,
  em,
  b {
    font-size: 1.6rem;
  }
}

/* MOBILE - M */
@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 2.8rem;
  }
}

/* MOBILE - s */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.8rem;
  }
}
