/* ==== RESPONSIVE DESIGN */

/* For medium screens */
@media screen and (max-width: 752px) and (min-width: 426px) {
  h1 {
    font-size: 5rem;
  }
}

/* For mobile phones */
@media screen and (max-width: 425px) {
  h1 {
    font-size: 3rem;
  }

  p,
  q {
    font-size: 1.9rem;
  }
}
