/* ==== CLEARFIX ==== */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;

  /* Font insert */
  font-family: "Montserrat", sans-serif;
  /* TODO: Still not sure about this font */
}

/* ==== STYLING ==== */

/* Header content */
h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

/* The introductory paragraph */
p,
em,
b {
  font-size: 2.2rem;
  font-weight: 100;
  font-style: italic;
}

/* The body */
.box {
  background-color: #3672ff;
}

.task,
.number {
  font-size: 4rem;
  color: whitesmoke;
  height: 190px;
}

/* Footer */
