/* ==== CLEARFIX ==== */

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;

  /* Font insert */
  font-family: "Montserrat", sans-serif;
}

/* Header content */
h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

/* The introductory paragraph */
p,
em,
b,
time,
li {
  font-size: 2.2rem;
  font-style: italic;
}

b,
time {
  font-weight: bold;
}

/* The body */
.box,
.log {
  border-radius: 8px;
}

/* Individual colors for each box, spring theme */
.box:nth-child(1) {
  background-color: #5f0f40;
}

.box:nth-child(2) {
  background-color: #92031e;
}

.box:nth-child(3) {
  background-color: #fb8b24;
}

.box:nth-child(4) {
  background-color: #e36414;
}

.log {
  background-color: #0f4c5c;
  color: whitesmoke;
}

/* Styling inside of each box */
.number {
  font-size: 19rem;
}

.task {
  font-size: 4rem;
}

.number,
.task {
  color: whitesmoke;
  height: 190px;
}

/* Log content styling */

li {
  list-style: disc;
}

li:nth-child(4) {
  opacity: 25%;
}

li:nth-child(3) {
  opacity: 50%;
}

li:nth-child(2) {
  opacity: 75%;
}
